# misc files
.gdb_history
valout

# Object files
*.o

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.pyc
*.pyo
*.x86_64
test_crypto
strtoupper_test
test1

# Debug files
*.dSYM
