# misc files
.gdb_history
valout

# Object files
*.o

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Data directory
data/

# Debug files
*.dSYM

# Binaries
*.pdf

# Other
.types.vim

# Executables
*.pyc
*.pyo
*.x86_64
test_crypto
strtoupper_test
strassign_test
test_strtoul
test_util
test1
test2
ruby_test
breakRepeatingXOR
aes_ecb_file
findECB
findSingleByteXOR
aes_cbc_file
detect_block_mode
one_byte_ecb
make_admin_profile
cbc_bit_flip

